.posts{
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.comments{
    background-color: aquamarine;
}

.post{
    margin: 10px;
}

.comment{
    margin: 10px;

}